// Custom colors
$pink: #e61873;
$blue-dark: #202a33;
$blue-light: #edf6fa;
$light: #ecf3f3;

// Bootstrap Overrides
$theme-colors: (
  "primary": $pink,
  "secondary": $blue-dark,
  "dark": $blue-dark
);

$font-family-sans-serif: "Proxima Nova", sans-serif;

$navbar-dark-color: #fff;

$border-color: #e2eaec;
$body-color: $blue-dark;
$body-bg: $light;
$text-muted: #737373;
$text-subtle: #adb5bd;
$card-border-color: $border-color;
$dropdown-border-color: $border-color;

$enable-shadows: true;
$box-shadow: 0 15px 35px 0 rgba(42, 51, 83, 0.12),
  0 5px 15px rgba(0, 0, 0, 0.06);
$dropdown-box-shadow: $box-shadow;

$border-radius-lg: 1rem;

// Type
$text-xs: 0.7rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-md: 1.2rem;
$text-lg: 1.875rem;
$text-xl: 2.375rem;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.8;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
$headings-font-weight: 700;
$display4-size: 2.5rem;

// Modals
$modal-header-padding-y: 1rem;
$modal-header-padding-x: 3rem;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x;
$modal-content-bg: $light;
$modal-inner-padding: 1rem 3rem;
$modal-footer-border-color: transparent;
$modal-dialog-margin-y-sm-up: 3rem;

// Dropdowns
$dropdown-padding-y: 0;
$dropdown-item-padding-y: 0.5rem;
$dropdown-item-padding-x: 1rem;
$dropdown-link-color: $blue-dark;

// Animations
$speed-slow: 150ms;
$speed-slower: 250ms;
$ease: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$gradient: linear-gradient(135deg, #8f75da 0, #727cf5 60%);

// Widths
$widths: 25, 50, 75, 100, 125, 150, 175, 200, 225, 250, 300, 350, 400, 450, 500;

// Spacer variables
$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25
    ),
    2: (
      $spacer * 0.5
    ),
    3: $spacer,
    4: (
      $spacer * 1.5
    ),
    5: (
      $spacer * 3
    )
  ),
  $spacers
);

$spacer-1: map-get($spacers, 1);
$spacer-2: map-get($spacers, 2);
$spacer-3: map-get($spacers, 3);
$spacer-4: map-get($spacers, 4);
$spacer-5: map-get($spacers, 5);
