// @import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700|Ubuntu:300,400,500,700");

@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";

//Base
@import "base/buttons";

@import "utilities";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
